*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary:'Lato', sans-serif;
    --ff-secondary:'Karla', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent-dark: #571845;
    --clr-accent-light: #c70039;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background-color: var(--clr-dark);
    margin: 0;
}

/* -----------------------------------------------NAVBAR-------------------------------------------------- */
.nav {
    transition: all 0.1s linear;
    position: fixed;
    z-index: 2000;
    padding: 10px;
}
.nav a {
    float: left;
    display: block;
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    font-size: 1.5em;
    text-align: center;
    padding: 14px 20px;
    margin-right: 1em;
    text-decoration: none;
    z-index: 2;
}
.scrollNav {
    color: var(--clr-dark);
    transition: all 0.5s ease-in;
    z-index: 1;
    background: var(--clr-accent-dark);
    width: 100%;
    border-bottom: 1px solid var(--clr-dark);
}

/* Right-aligned link */
.nav a.right {
    float: right;
}

/* Change color on hover */
.nav a:hover {
    background-color: var(--clr-accent-dark);
    color: var(--clr-dark);
}

/* Active/current link */
.nav a.active {
    background-color: var(--clr-accent-light);
    color: var(--clr-light);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__items {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em
}
/* -----------------------------------------------ABOUT--------------------------------------------------- */

.about {
    background-image: url("images/banner.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
}

.about-text {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 50%;
    margin-right: 10%;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 1em;
    background: var(--clr-dark);
    font-size: 3vw;
    text-align: left;
    align-content: space-evenly;
}

/* -----------------------------------------------FINDER-------------------------------------------------- */

.search-bar {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* -----------------------------------------------NECHROMATIC ENTRY-------------------------------------------------- */

.nechro-query-container {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.nechromatic-card {
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--clr-accent-light);
    padding: 15px;
    margin: 5px;
}

.nechromatic-card:hover {
    background-color: var(--clr-accent-dark);
}