*,
*::before,
*::after {
    box-sizing: border-box;
}

/*-----------------------------------------CUSTOM PROPERTIES----------------------------------*/

:root {
    --ff-primary:'Lato', sans-serif;
    --ff-secondary:'Karla', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent-dark: #571845;
    --clr-accent-light: #c70039;
    --clr-accent-golden: #ffc300;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75;
    --fs-h4: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 1000px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

/*--------------------------------------------GENERAL STYLES---------------------------------*/

body {
    background:var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 3em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold); color: var(--clr-accent-golden) }

:focus {
    outline: 3px solid var(--clr-accent-light);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent-light);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: .5em;
}

.btn:hover {
    transform: scale(1.1);
}

body {
    background-color: var(--clr-dark);
    margin: 0;
}

loader {
    height: 1000px;
    color: red;
    background: #6f00ff;
}
/*----------------------------------------------TYPOGRAPHY--------------------------------------------------*/
/* Typography */
h1,
h2,
h3,
h4 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4) }

/* -----------------------------------------------NAVBAR-------------------------------------------------- */
.nav {
    transition: all 0.1s linear;
    position: fixed;
    z-index: 2000;
    padding: 2px;
    width: 100%;
}
.nav a {
    float: left;
    border-radius: 3em;
    display: block;
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h4);
    text-align: center;
    padding: 10px;
    margin:0 0.5em;
    text-decoration: none;
    z-index: 2;
    transition: all 0.5s ease;
}

.scrollNav {
    color: var(--clr-dark);
    transition: all 0.5s ease-in;
    z-index: 1;
    background: var(--clr-dark);
    width: 100%;
    border-bottom: 1px solid var(--clr-accent-golden);
}

.scrollNav a.right{
    float: right;
}

/* Right-aligned link */
.nav a.right {
    float: right;
}

/* Change color on hover */
.nav a:hover {
    background-color: var(--clr-accent-golden);
    border-radius: 0.2em;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__items {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em
}
/* -----------------------------------------------INTRO--------------------------------------------------- */

.intro {
    position: relative;
    background-color: var(--clr-dark);
    background-image: url(./images/banner.jpeg);
    background-blend-mode: multiply;
    text-align: center;
    color: var(--clr-dark);
    width: 100%;
    height: 0;
    padding-top: 36%;
    align-items: center;
    border-bottom: 1px solid var(--clr-accent-golden);
}

.intro-text__container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10%;
    max-width: 600px;
    display: block;
}

.intro-text {
    padding: 1.5em;
    border-radius: 2em;
    text-align: center;
    color: var(--clr-light);
    text-shadow: var(--bs);
}

@media (max-width: 800px) {

    .intro-text__container {
        top: 50%;
        right: 5%;
        margin: 0 auto;
    }
}
/* -----------------------------------------------ABOUT--------------------------------------------------- */

.about {
    align-items: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)
    ),var(--clr-accent-light);
    display: flex;
    justify-content: space-evenly;
    padding: 3em;
    flex-direction: column;
    border-bottom: 1px solid var(--clr-accent-golden);
}

.about-text {
    font-family: var(--ff-secondary);
    padding: 3em;
    color: black;
    text-shadow: var(--bs);
    text-align: justify-all;
}

.about-text__title {
    text-align: center;
    margin-bottom: 15px;
    font-family: var(--ff-primary);
}

.about-img {
    border-radius: 1em;
    width: 500px;
    box-shadow: var(--bs);
}

about-img:hover {
    opacity: 0;
}

@media (min-width: 800px) {
    .about {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1000px) {
    .about-img {
        width:300px;
    }
}

/* -----------------------------------------------FINDER-------------------------------------------------- */

.search-bar {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* -----------------------------------------------NECHROMATIC ENTRY-------------------------------------------------- */

.nechro-display {
    border-bottom: 1px solid var(--clr-accent-golden);
}

.nechro-query-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    justify-content: space-around;
}

.nechromatic-card__container {
    margin: 5px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff0000 0%, #fffc00 25%, #34ff00 50%, #00ffef 75%, #6f00ff 100%);
    background-size: 600% 100%;
    box-shadow: 0 0 0.625em hsla(0, 0%, 100%, 0.5);
    animation: spin 5s linear infinite;
    animation-direction: alternate;
    -moz-animation: spin 5s linear infinite;
    -webkit-animation: spin 5s linear infinite;
    -ms-animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}
@-moz-keyframes spin {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}
@-webkit-keyframes spin {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}
@-ms-keyframes spin {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}

.nechromatic-card {
    width: 267px;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    background: var(--clr-dark);
    transition: all 1s ease;
}

.nechromatic-card:hover {
    background-color: rgba(0, 0, 0, 0);
}

.nechromatic-card__img {
    border-radius: 0.5em;
}

.nechromatic-card__img:hover {
    border-radius: 0.5em;
    animation: tilt 1s linear infinite;
    animation-direction: alternate;
    -moz-animation: tilt 1s linear infinite;
    -webkit-animation: tilt 1s linear infinite;
    -ms-animation: tilt 1s linear infinite;
}

@keyframes tilt {
    0% {transform: rotateZ(5deg)}
    49.9% {transform: rotateZ(5deg)}
    50% {transform: rotateZ(-5deg)}
    99.9% {transform: rotateZ(-5deg)}
    100% {transform: rotateZ(5deg)}
}
@-moz-keyframes tilt {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}
@-webkit-keyframes tilt {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}
@-ms-keyframes tilt {
    0% {background-position: 0}
    50% {background-position: 100%}
    100% {background-position: 0}
}

.nechromatic-card__txt-container {
    margin-top: 5px;
    background: black;
    border-radius: 0.5em;
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    text-align: center;
    padding: 0.5em;
}

.nechromatic-card__txt {
    margin: 0.5em 0.5em;
    text-align: left;
    background:linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3)
    ), var(--clr-dark);
    border-radius: 1em;
    padding: 0.1em 0 0.1em 0.5em;
}

/* -----------------------------------------------FOOTER-------------------------------------------------- */

.footer {
    height: 600px;
    background-color: var(--clr-light);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid red;
    height: inherit;
}

.footer-container__left{
    margin: auto 0;
    border: 2px solid red;
}

.footer-container__right{
    margin: auto 0;
    border: 2px solid red;
}